<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.websky.admin.sys.dao.SysPowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.websky.admin.sys.model.pojo.SysPower">
        <id column="power_id" property="powerId" />
        <result column="parent_id" property="parentId" />
        <result column="power_code" property="powerCode" />
        <result column="power_name" property="powerName" />
        <result column="power_type" property="powerType" />
        <result column="power_url" property="powerUrl" />
        <result column="power_target" property="powerTarget" />
        <result column="power_icon" property="powerIcon" />
        <result column="power_color" property="powerColor" />
        <result column="power_sort" property="powerSort" />
        <result column="power_status" property="powerStatus" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        power_id, parent_id, powerCode, power_name, power_type, power_url, power_target, power_icon, power_color, power_sort, power_status, created_by, created_time, updated_by, updated_time, deleted
    </sql>

</mapper>
