<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.websky.admin.sys.dao.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.websky.admin.sys.model.pojo.SysRole">
        <id column="role_id" property="roleId" />
        <result column="role_type" property="roleType" />
        <result column="role_name" property="roleName" />
        <result column="role_status" property="roleStatus" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_type, role_name, role_status, created_by, created_time, updated_by, updated_time, deleted
    </sql>

</mapper>
