<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.websky.admin.sys.dao.SysUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.websky.admin.sys.model.pojo.SysUsers">
        <id column="user_id" property="userId" />
        <result column="org_id" property="orgId" />
        <result column="user_account" property="userAccount" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="cipher" property="cipher" />
        <result column="remark" property="remark" />
        <result column="state" property="state" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, org_id, user_account, nickname, sex, avatar, phone, email, `password`, remark, state, created_by, created_time, updated_by, updated_time, deleted
    </sql>

</mapper>
