<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.websky.admin.sys.dao.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.websky.admin.sys.model.pojo.SysUserRole">
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="menu_status" property="menuStatus" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, role_id, menu_status, created_by, created_time, updated_by, updated_time, deleted
    </sql>

</mapper>
